// Farger
$primary-color: #3498db;
$secondary-color: #2c3e50;
$text-color: #333;
$background-color: #f8f8f8;
$overlay-color: rgba(0, 0, 0, 0.5);

// Typografi
$font-family-main: 'Arial, sans-serif';
$font-family-secondary: 'Helvetica, sans-serif';

// Andre variabler
$header-padding: 10px 20px;
$body-padding: 20px;
$transition-time: 0.3s;
