@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.flex-container{
    display: flex;
}

a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: tan;
}

#main-logo{
    width: 70px;
    height: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    margin: 2rem;
}

.nav-menu > a {
    margin-left: 20px; 
}

.nav-menu > a:hover {
    text-decoration: underline; 
}

.contact {
    background-color: gold;
    padding: 10px 10px;
}

.banner {
    background-color: lightgray; 
    padding: 20px; 
    text-align: center; 
    margin: 2rem;
}

.banner a {
    display: inline-block;
    background-color: gold; 
    padding: 10px 20px; 
    margin-top: 20px; 
}

.banner a:hover {
    background-color: goldenrod; 
    color: black;
}

.subheading {
    text-align: center; 
    margin: 1rem auto;
    width: 70%;
}

.about{
    text-align: center;
    border: 1px solid black;
}

.about a{
    display: block;
    padding: 10px;
    background-color: lightgray;
    margin: 2rem;
}

.services h2{
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 20px;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer p {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.footer img {
    background-color: whitesmoke;
    border-radius: 50%;
}